p{
    border: 2px solid steelblue;
    margin:  5px;
    padding: 10px;z-index: 2;
    white-space: nowrap;
}
img {
    width: 100%;
    height: 100vh;
    position:absolute;
    left:0px;
    top:0px;
  }
  

  .image-container {
    top: 20px;
    position:relative;
    width: 100%;
    height: 95vh;
    border:3px solid;
  }
.sizes{
    width: 100%;
    height: 100vh;
}
.tools{
    cursor: grab;
}
.canvas{
    /* position: absolute;
    left: 0;
    top: 0; */

}